node_modules/

.yarn/install-state.gz
.yarn/build-state.yml

build/

.docusaurus/
.cache-loader/
docs/documentation/
tsconfig.tsbuildinfo

.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
